.contact {
    margin-left: 100px;
    display: block;
    width: 600px;

    &__button {
        background: transparent;
        border: 3px solid white;
        color: white;
        display: block;
        float: right;
        margin: 0 auto 50px;
        padding: 10px 22px;

        &:hover {
            background: rgba($color-green, .7);
        } //.contact__button:hover
        
    } //.contact__button

} //.contact