.header {
    background: $color-green;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    overflow: auto;
    position: fixed;
    text-shadow: 1px 1px 1px 1px white;
    width: 100%;
    z-index: 1;

    &__item {
        padding: 9px 0 12px;
        text-decoration: none;
    } //.header__items

    &__links {
        color: white;
        font-size: 16px;
        padding: 10px;

        &:hover {
            background: $color-dark-green;
        } //.header__links:hover

    } //.header__links

    &__list-container {
        display: flex;
        float: right;
        justify-content: space-around;
        list-style-type: none;
        width: 25%;
    } //.header__list-container

} //.header