.home {
    max-width: 1400px;

    &::before {
        background:
            linear-gradient(to bottom, rgba(0,0,0, .4) 0%, rgba(0,0,0, .55) 50%, rgba(0,0,0, .5) 80%, rgba(0,0,0,.97) 100%),
            linear-gradient(to right, rgba(0,0,0, 1) 0%, rgba(0,0,0, .55) 7%, rgba(0,0,0, .15) 50%,  rgba(0,0,0,.55) 93%, rgba(0,0,0, 1) 100%),
            url('/backgrounds/chess.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        filter: blur(3px);
        height: 650px;
        left: -5%;
        position: fixed;
        right: 0;
        width: 110%;
        z-index: -1;          
    } //.home__background::before

    &__content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        padding: 200px 0;
    } //.home__background

    &__scroll-container {
        margin: 0 auto;
    } //.home__scroll-container 

    &__title-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    } //.home__title-container

} //.home

