.title {
    margin-left: 100px;
    width: 44%;

    &__main {
        color: white;
        font-family: 'Titillium Web', 'serif';
        font-size: 56px;
        margin: 0 auto;
        text-align: center;
    } //.title__main

    &__sub-title {
        color: white;
        font-family: 'Titillium Web', 'serif';
        font-size: 20px;
        font-weight: 300;
        padding: 0 5px;
        position: relative;
        text-align: center;

        &::before,
        &::after {
            border: 1px solid white;
            content: '';
            position: absolute;
            top: 50%;
            width: 25%;
        }  //.title__sub-title::before,
           //.title__sub-title::after

        &::before {
            right: 5px;
        } //.title__sub-title::before

        &::after {
            left: 5px;
        } //.title__sub-title::after

    } //.title__sub-title

} //.title