html,
body {
    margin: 0;
} //html,
  //body

.header {
    background-color: #072e11;
    display: block;
    position: fixed;
    width: 100%;

    &__links {
        color: white;
        font-size: 16px;
        text-decoration: none;
    } //.header__links

} //.header